@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="container-fluid">
       <div class="row">
           <div class="co">name </div>
           <div class="co">email</div>
           <div class="co">pass</div>
           <div class="co">record</div>
           <div class="co">add</div>
       </div> 
    </div>
</body>
</html>
