@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>general_layout</title>
    <script src="~/Content/js/jquery-3.3.1.slim.min.js"></script>
    <script src="~/Scripts/jquery-1.7.1.min.js"></script>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/hover.css" rel="stylesheet" />
</head>
<body>
    <div type=container-fluid>
        
    </div>
</body>
</html>
